/* 原神Genshin-Impact */
/* 提瓦特Teyvat */
@font-face {
font-family: 'Teyvat';
src: url('../font/HoYo-Glyphs/Genshin-Impact/TeyvatBlack-Regular.otf');
}

/* 稻妻Inazuma */
@font-face {
font-family: 'Inazuma';
src: url('../font/HoYo-Glyphs/Genshin-Impact/InazumaBrush.otf');
}

/* 须弥Sumeru */
@font-face {
font-family: 'Sumeru';
src: url('../font/HoYo-Glyphs/Genshin-Impact/SumeruScribe-Regular.otf');
}

/* 赤冠Deshret */
@font-face {
font-family: 'Deshret';
src: url('../font/HoYo-Glyphs/Genshin-Impact/DeshretInscription-Regular.otf');
}

/* 坎瑞亚Khaenri'ah */
@font-face {
font-family: 'Khaenriah';
src: url('../font/HoYo-Glyphs/Genshin-Impact/KhaenriahSun-Regular.otf');
}

/* 层岩巨渊Chasm */
@font-face {
font-family: 'Chasm';
src: url('../font/HoYo-Glyphs/Genshin-Impact/KhaenriahSun-Chasm.otf');
}

/* 枫丹Fontaine */
@font-face {
font-family: 'Fontaine';
src: url('../font/HoYo-Glyphs/Genshin-Impact/FontAinee-Regular.otf');
}